.form-group {
    margin: 15px;
}
.form-control {
    border-radius: 5px;
}
label {
    display: inline-block;
    width: 100px;
}
.danger-text {
    color: red;
}
.success-text {
    color: green;
}
.hidden-text {
    display: none;
}